/* css styles */
strong {
    color: rgb(255, 102, 161); /* 设置strong标签的文字颜色为红色 */
}

.columns .column {
    padding-left: 5px;  /* 左侧内边距 */
    padding-right: 5px; /* 右侧内边距 */
}

/* .columns {
    margin-top: 50px;    
    margin-bottom: 5px; 
} */

.callout {
    margin-top: 7px; /* 上侧外边距 */
    margin-bottom: 7px;/* 下侧外边距 */
}

/* 解决callout中列表行间距过大问题 */
li p {
    margin-bottom: 0;
}

/* 减小callout和列表之间的空白 */
ol,ul,dl {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* 减小iframe底部的留白 */
iframe {
    margin-bottom: 0em;
}

/* 自动编号练习 */
.exercise {
    color: rgb(255, 155, 0);
    font-weight: bold;
}